
.vscode/settings.json

*.txt
data/
__pycache__/
.ipynb_checkpoints/
*.pt
*.npy
*.log
*.png
*html

KFold_results/
Speed_results/
Validation_results/
Speed/
Results_AsyncMomentum/
Results_AsyncMomentum/
Delay_results/*
